.lead-tab .active {
    background-color: #8bc34a !important;
}

.lead-table .dataTables_filter {
    float: right;
}

.custom-tab-header {
    border-bottom: solid 2px #8bc34a;
}

.custom-tab {
    -webkit-border-radius: 22px 22px 0px 0px !important;
    -moz-border-radius: 22px 22px 0px 0px !important;
    border-radius: 22px 22px 0px 0px !important;
}
